:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: rgb(136, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*inicio cabecera*/
.cabecera {
  background-color: rgb(157, 140, 15);
  width: 100%;
  height: 100px;
  padding: 10px 10px;
}
.cabecera_link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
}
.cabecera_img {
  object-fit: cover;
  height: 90%;
  margin-right: 10px;
}
/*fin cabecera*/
/*inicio navegacion*/
.navegacion {
  background-color: rgb(178, 164, 56);
  width: 100%;
  height: 40px;
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.navegacion a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: rgb(228, 228, 228);
  padding: 15px 50px;
}
.navegacion a:hover {
  color: white;
  background-color: rgb(216, 200, 74);
}
/*fin navegacion*/
/*inicio banner*/
.banner {
  background-image: url(https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  width: 100%;
  height: calc(197vh - 95vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner h1 {
  font-size: 80px;
}

.banner h2 {
  font-size: 35px;
}

.banner a {
  background-color: rgb(157, 140, 15);
  width: 150px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  margin-top: 30px;
  color: white;
}

.banner a:hover {
  color: white;
  background-color: rgb(216, 200, 74);
}
/*fin banner*/
.seccion-2 {
  background-color: rgb(178, 164, 56);
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}

.bloque-izq {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4% 2%;
}

.izq-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.izq-titulo h2 {
  font-size: 35px;
  color: rgb(96, 58, 14);
}
.izq-titulo h3 {
  font-size: 45px;
  margin-top: 5px;
  color: rgb(96, 58, 14);
}
.izq-img {
  background-color: rgb(55, 51, 7);
  border-radius: 9px;
  width: 100%;
  margin: 15px 0;
}
.izq-img img {
  object-fit: cover;
  width: 100%;
}
.izq-parrafo {
  font-size: 22px;
}
/*BLOQUE DERECHO IMICIO*/
.bloque-der {
  background-color: rgb(159, 148, 64);
  width: 38%;
  height: 100%;
  padding: 0 2%;
  border-radius: 2%;
}
.der-titulo {
  text-align: center;
  margin-top: 50px;
}
.der-titulo h3 {
  font-size: 30px;
  color: rgb(79, 47, 11);
}
.der-noticias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 10% 0;
}
.noticias-img {
  width: 60%;
}
.noticias-img img {
  object-fit: cover;
  width: 100%;
  height: 130px;
  border-radius: 6%;
}
.noticias-textos {
  width: 40%;
  height: 100%;
  margin: 0 10px;
}
.noticias-textos h4 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  color: rgb(5, 0, 34);
}
.noticias-textos p {
  font-size: 100%;
  text-align: justify;
}
.noticias-textos a {
  font-size: 15px;
  color: white;
}
/*finaliza seccion 2*/
